@model IEnumerable<ContosoUniversity.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.semesters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.professorUNID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.professorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numEnrollments)
            </th>
            @if (User.IsInRole("Administrator"))
            {
            <th>
                @Html.DisplayNameFor(model => model.notes)
            </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.semesters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.professorUNID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.professorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassTimes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numEnrollments)
            </td>
            @if (User.IsInRole("Administrator"))
            {
                <td>
                    <textarea id="comments" name="commentBox" cols="25" rows="5">@Html.DisplayFor(modelItem => item.notes)</textarea>
                </td>
                <td>
                    <button id="notesButton" type="button">Submit</button>
                    <script>
                        //TODO: fix this to allow administrator to send comment changes to the database
                        $("#notesButton").click(function () {
                            alert("hello");
                            //("comments").hide();
                        });
                    </script>
                </td>
            }           
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
