@model IEnumerable<ContosoUniversity.Models.Slot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!--TODO: update this to fit the new specified view-->
<!--AJAX template
    
    $.ajax({
        url: 'atSymbolUrl.Action("methodName", "comment header?")',
        content : "the content needed",
        dataType : "json",
        success: successFunciton,
        error : errorfunction
    });
    -->


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.open)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.open)
                </td>

            </tr>
        }
    </tbody>
</table>
